.logo-column {
    height: 100%;
    font-size: 50px;
    flex: 1;
    background-color:#BB85FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}