$primaryColor: #BB85FD;
$backgroundColor: #212121;

@import "~@angular/material/theming";
@include mat-core();
$angular-primary: mat-palette($mat-teal, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}

body {
    margin: 0;
    font-family: 'muli';
    font-size: 18px;
}

main {
    background-color: $backgroundColor;
    height: calc(100vh - 123px);
}

.flex-container {
    display: flex;
    background-color: $backgroundColor;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;
    color: white;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.center-div {
    width: 100vw;
    height: auto;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.full-height {
    height: 100%;
}

.generic-button {
    height: auto;
    min-height: 50px;
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 20px;

    border: 2px solid $primaryColor;
    border-radius: 5px;

    cursor: pointer;

    background-color: transparent;
    color: white;
}

.generic-form {
    min-height: 50px;
    min-width: 400px;

    border-radius: 0px;
    padding: 5px;
    margin: 10px;

    text-align: center;

    border: 2px solid $primaryColor;

    font-size: 20px;

    color: white;
    background-color: transparent;    
}

.styled-table {
    text-align: left;

    border-spacing: 0px;
    border-radius: 5px 5px 0px 0px;
    border-collapse: collapse;

    overflow: hidden;

    th {
        background-color: $primaryColor;
        padding: 10px;
        font-weight: normal;
    }

    td {
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color:#1c1c1c;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
